* {
    box-sizing: border-box;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 12pt;
    color: #333;
    line-height: 1.3;
    transition: color 1s;
}

code {
    font-family: Courier, monospace;
}

body {
    background-color: #eee;
    transition: background-color 1s;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
    margin-bottom: 0;

}

h1, h2 {
    font-family: Palatino, Georgia, serif;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 22pt;
    margin-top: 0;
}

h2, h3 {
    margin-top: .8em;
}

h2 {
    font-size: 18pt;
}

h4 {
    margin-top: .5em;
}

p, ul {
    margin-top: .3em;
    margin-bottom: 0;
}

ul {
    padding-left: 2em;

}

button {
    background-color: transparent;
    padding: 0;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    cursor: pointer;
}

a:not(:hover) {
    text-decoration: none;
}

.a4,
.controls {
    width: 210mm;
    margin-left: auto;
    margin-right: auto;
}

.a4 {
    height: 297mm;
    padding: 8mm;
}

.controls {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;    
}

.sun {
    display: none;
}

.dark .sun {
    display: inline;
}

.dark .moon {
    display: none;
}

.sun,
.moon {
    font-size: 30px;
}

.print {
    font-size: 24px;
}

.hidden-text {
    display: inline-block;
    text-indent: -9999px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.a4 span + span {
    border-left: 1px solid currentColor;
    margin-left: .25em;
    padding-left: .25em;
}

.a4 h3 span + span {
    border-left-width: 2px;
}

@media screen {
    .dark {
        background-color: #333;   
    }

    .dark * {
            color: #eee;
    }
    
    .controls {
        display: block;
    }

    .a4 {
        outline: 1px solid #bbb;
    }
}
